<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="elementForm">
    <input placeholder="Price" matInput type="number" min="0.01" formControlName="price">
  </mat-form-field>

  <mat-form-field class="elementForm">
    <input type="text" placeholder="Store" aria-label="Text" matInput formControlName="store" [matAutocomplete]="auto1">
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option *ngFor="let option of filteredStoreOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="elementForm">
    <input type="text" placeholder="Tag" aria-label="Text" matInput formControlName="tag" [matAutocomplete]="auto2">
    <mat-autocomplete #auto2="matAutocomplete">
      <mat-option *ngFor="let option of filteredTagOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button type="submit" [disabled]="!profileForm.valid">Add Purchase</button>
</form>
<div class="buttonDiv">
<a class="backButton" routerLink="/">BACK</a>
</div>
