<a routerLink="/">Go home</a>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="price">Price</label>
    <input id="price" name="price" type="number"  formControlName="price">
  </div>

  <div>
    <label for="store">Store</label>
    <input id="store" name="store" type="text"  formControlName="store">

  </div>

  <div>
    <label for="tag">Tag</label>
    <input id="tag" name="tag" type="text"  formControlName="tag">

  </div>

  <button type="submit" [disabled]="!profileForm.valid">Add Purchase</button>
</form>