form{ // contenedor del formulari per estar centrat i ocupar el 80% de l'espai de l'ample
    width: 80%;
    text-align: center;
    margin:auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

button { // botó per acceptar la compra
    margin: auto;
    width: 50%;
    border: 3px solid green;
    border-radius: 15px;
    font-size: large;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: green;
}
button:disabled{ // canvi de color del botó per diferenciar quan està desactivat
    color:red;
    background-color: black;
}

.backButton { // botó per tornar enrrera
    text-decoration: none;
    background-color: #31B0D5;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: green;
}

.buttonDiv { //contenidor per mantenir el botó fixat a baix a la dreta
    position: fixed;
    bottom: 10px;
    right: 5px;
}